 
<div class="container">
      <div class="topbox">
       
		
		<%= image_tag("DSCI0710med.jpg", :class=>"image-size-std" )%>
	 
		
		 
        <h2 class="hook content">  
          <span class="highlight">1946 Aeronca Chief 11BC</span> 
		  <br>
        <span class="sub-title white">
          Truly a Gem of Avaition's History
        </span></h2>


        <div class="social-sharing">
          <div style="display:inline-block; vertical-align:text-bottom;">
            <a class="twitter-share-button" data-count="horizontal" data-text="What do you think of the book 'Learn Ruby on Rails'?" data-url="http://learn-rails.com/learn-ruby-on-rails.html" data-via="rails_apps" data-related="rails_apps:Author of the book" href="http://twitter.com/share"></a>
            <div class="g-plusone" data-annotation="bubble" data-href="http://learn-rails.com/learn-ruby-on-rails.html" data-size="medium" data-width="90"></div>
            <div class="fb-like" data-href="http://learn-rails.com/learn-ruby-on-rails.html" data-width="90" data-layout="button_count" data-show-faces="false" data-send="false"></div>
          </div>
        </div>

    
      </div>

      <div class="main-content-container">

        <div class="subheading">
          <h2 class="hook content">
	         
	           
	           
			  
            <span class="highlight">The Project: </span>
			<br>
			 The Restoration of a Vintage 1946 Aeronca Chief 11BC <br>  
          </h2>
          <div class="darker">
            <div class="pullquote content">
              
			   
			   
               <em>This plane was just sitting in a barn.</em> I am hoping to fully restore this aircraft and allow it fly once again , but I need your help. My hope and prayer is that you will be able to join me and rebuild this aircraft back it's former glory
			   
            
            </div>
          </div>
        </div>
        <div id="who-for" class="content">
          <h2>
            The Airplane
          </h2>
          <h3>
            An Aeronca Chief 11BC, built in 1946
          </h3>
          <ul>
            <li>
              A Single Engine, two seater plane
            </li>
            <li>
              Has a Continental C85 Engine with 400 hours
            </li>
            <li>
              The fuselage is intact but is in need of a fair amount of work.
            </li>
            <li>
              The Wing&mdash;Not salvageable
            </li>
          </ul>
          <h3>
            <em>Currently it is in disrepair beyond recognition.</em> &mdash; This Airplane is a perfect canidate for restoration
          </h3>
          
		  <%= image_tag("DSCI0728med.jpg", :class=>"image-size-small rocket-icon" )%>
        </div>

        <div class="darker">
          <div class="benefits content">

            <div class="clear">
              <h2>
                Pieces of the puzzle:
              </h2>
            </div>


            <div class="benefit">
               <%= image_tag("DSCI0710med.jpg", :class=>"image-size-icon icon" )%>
              <h4>
                Fuselage
              </h4>
            </div>
            <div class="benefit">
              <%= image_tag("DSCI0773med.jpg", :class=>"image-size-icon icon" )%>
              <h4>
				  Fuel Tank
              </h4>
            </div>
            <div class="benefit">
               <%= image_tag("4_of_4.jpg", :class=>"image-size-icon icon" )%>
              <h4>
                Continental C85 Engine
              </h4>
            </div>
            <div class="benefit">
               <%= image_tag("DSCI0775med.jpg", :class=>"image-size-icon icon" )%>
              <h4>
                The Wing
              </h4>
            </div>

            <div class="clear sub-description">

            </div>
          </div>
        </div>

        <div>
          <div id="book-about" class="content narrow">
            <h2>
              The Plan:
            </h2>
            <h3>
              The Wing
            </h3>
            <p>
              This is the first book for beginners that makes no assumptions about your previous knowledge. If you've worked with HTML and CSS, you have everything you need to succeed with this book.
            </p>
            <p>
              Replace the Wooden Spars  
             </p>
            <h3>
              The Fuselodge
            </h3>
            <p>
              The Interinr of the Aircraft is in need of a complete overhaul
            </p>
             <p>
              The Interinr of the Aircraft is in need of a complete overhaul
            </p>
            <p>
              Crack Check - outside contractor
            </p>
             <p>
              Cover it with new fabric
            </p>
            <h3>
              The Engine
            </h3>
            <p>
            Will have to send it out for recertifaction
            </p>
          </div>
        </div>

        <div class="darker">
          <div class="pullquote content">
          <span class="quote open">“</span>Probably the best tutorial available for people new to Rails.<span class="quote">”</span>
            <div class="pullquote-source">&mdash;Mark Everhart, 19 Sept 2013</div>
          </div>
        </div>

        <div id="author" class="content">
          <h2>About the Chris:</h2>
          <div class="author-info">
			  <%= image_tag("chris_harvard_small_med.jpg", :class=>"author-img author-img-size" )%> 

            <span class="highlight">Chris Mailloux</span> is a Skilled Tradesman. He acquired his industrial electrician trade in 2005, Specializing in Robot & Computer Programming.   He is held positions as a General Manager of Ground Operations at a local International Airshow for 2 years.
          </div>
        </div>

        <div class="darker">
          <div class="pullquote content">
            <span class="quote open">“</span>I love what you're doing with this book. Specifically, that you're explaining and putting in context the whole ecosystem around Rails. Much needed for people just entering the field.<span class="quote">”</span>
            <div class="pullquote-source">&mdash;Avdi Grimm, 1 Oct 2013</div>
          </div>
        </div>

        <div id="contents" class="content narrow">

          <h2>Table of Contents:</h2>
          <h3>Professional practices</h3>
          <ul>
          <li>Rails guiding principles</li>
          <li>Product planning</li>
          <li>Project management</li>
          <li>Where to go for help</li>
          </ul>
          <h3>Inside Rails</h3>
          <ul>
          <li>Rails directory structure</li>
          <li>Time travel with Git</li>
          <li>All about gems</li>
          <li>Configuring an application</li>
          <li>Static pages and routing</li>
          </ul>
          <h3>Gaining skill</h3>
          <ul>
          <li>The request/response cycle</li>
          <li>Troubleshooting</li>
          <li>Ruby literacy</li>
          <li>Layout and views</li>
          <li>Stylesheets and themes</li>
          </ul>
          <h3>Building your real-world application</h3>
          <ul>
          <li>Contact forms</li>
          <li>Connecting to an API</li>
          <li>Sending mail</li>
          <li>Signing up for a newsletter</li>
          </ul>
          <h3>Final steps</h3>
          <ul>
          <li>Deploying an application</li>
          <li>Adding analytics</li>
          </ul>
          <h3>Overcoming obstacles</h3>
          <ul>
          <li>Rails challenges</li>
          <li>Next steps</li>
          </ul>
        </div>

        <div class="darker">
          <div class="pullquote content">
            <span class="quote open">“</span>It's very well written. Other books present way too many new concepts at a time. Your book instead is an ideal starting point for Rails beginners.<span class="quote">”</span>
            <div class="pullquote-source">&mdash;Giacomo Lepori, 22 Sept 2013</div>
          </div>
        </div>

        <div class="darker">
          <div id="teaching">
            <img src="/images/kehoe-teaching-standing.png" height="349px">
          </div>
          <div class="darker">
            <div id="ordering" class="content narrow">
             <h2>
                Advance Edition Available Now
              </h2>
              <h3>
                Subscribe on the <a href="https://tutorials.railsapps.org/learn-ruby-on-rails">Rails Tutorials</a> site
              </h3>
              <div id="order-points">
                <ul>
                  <li>
                    Get the full-length <em>Learn Ruby on Rails</em> book</a>
                  </li>
                  <li>
                    Get the   updated book as new versions are released
                  </li>
                  <li>
                    Includes additional tutorials for ongoing learning
                  </li>
                  <li>
                    Only available to subscribers on the <a href="https://tutorials.railsapps.org/learn-ruby-on-rails">Rails Tutorials</a> site
                  </li>
                </ul>
              </div>
              <h2 class="see-you-there"><a href="https://tutorials.railsapps.org/learn-ruby-on-rails" class="sign-up-link" id="membership"><img src="/images/buy-it-now.gif" alt="CLICK TO ORDER"></a></h2>

        </div>
		  </div>  </div>

 
          <div id="testimonials" class="contact content">
            Want more information?  <span class="highlight">email Chris Mailloux</span> 
			 
			
			
 <div id="contact" class="bootstrap">
			 <%= simple_form_for @message, :html => { :class => 'form-horizontal  contact_text'} , :url => contact_path do |f| %>
			 <table class="table table-striped">

			   <tbody>
			   	 <tr>	     
			 	  <th>
			 		<br>
		 
			 	  <%= f.input :name, :label=>"Name:", :placeholder=>"Your Name", :input_html => { :class => "enroll_input span5" } %>
 
	 
			 	<%= f.input :email,  :label=>"Email Address:",  :input_html => { :class => "enroll_input span4"}, :wrapper => :append do %>
			 	  <%= f.input_field :email,   :placeholder=>"Your Email Address" %><span class="add-on"><i class="icon-envelope"></i></span>
 
   <% end %>

    

			 	<%= f.input :subject,  :label=>'Subject:' , :placeholder=>"Your Question in Short form", :input_html => { :class => "enroll_input span5" } %>
 
			 	<%= f.input :body, :label=>'Message:', :placeholder=>"Your Question", as: :text, :input_html => { :class => "input-xlarge span5", :rows => 10} %>

 
			  <br>
 			 
			 
			 </tr>
			 
			 </table>
  
			 <div class="pull-center  ">
			 	    <%= f.button :submit, 'Send Message', :class => 'btn btn-warning' %>
		 
	
			 			    </div>
 
			 <% end %>
			</div>
			
          </div>
        </div>
      </div>
</div>

 



	
 
 
	

 
