	<div class="ribbon-wrapper-green "><div class="ribbon-green"> <%= link_to 'View on KickStarter', "http://www.kickstarter.com/projects/1918260583/b-25-bomber-sandbarmitchell-rescue-and-recovery-fr?ref=live" %></div></div>


<div class="container">

  
	
      <div class="topbox">
  
                <%= image_tag("DSCI0710med.jpg", :class=>"image-size-std" )%>
     
        <h2 class="hook content">  
          <span class="highlight">1946 Aeronca Chief 11BC</span> 
                  <br>
        <span class="sub-title white">
          Saving A Piece of History
        </span></h2>
 
      </div>


      <div id="project" class="main-content-container"   style="padding-top: 40px; margin-top: -40px;">

        <div class="subheading">
          <h2 class="hook content">
                 
                   
                   
                          
            <span class="highlight">The Project: </span>
                        <br>
                         The Restoration of a Vintage 1946 Aeronca Chief 11BC <br>  
          </h2>
          <div class="darker">
            <div class="pullquote content">
              
                           
                           
				<span class="quote open">“</span>The desire to fly is an idea handed down to us by our ancestors who, in their grueling travels across trackless lands in prehistoric times, looked enviously on the birds soaring freely through space, at full speed, above all obstacles, on the infinite highway of the air.<span class="quote">”</span>
				-              <div class="pullquote-source">&mdash;Orville Wright</div>
                           
            
            </div>
          </div>
		  
		  
        </div>
		
		</div>
		
	 
		
        <div id="plane"  class="content"  style="padding-top: 40px; margin-top: -40px;">
          <h2>
            The Airplane
          </h2>
          <h3>
            An Aeronca Chief 11BC, built in 1946
          </h3>
          <ul>
            <li>
              A Single Engine, two seater plane
            </li>
            <li>
              Has a Continental C85 Engine with 400 hours
            </li>
            <li>
              Was ordinary configured as a float plane
            </li>
	  
            <li>
              Restoration started by an expert many years ago
			  
            </li>
			
            <li>
              Is located in the back of a shed
            </li>
			
            <li>
              Everything in boxes
            </li>
			
			
            <li>
              Wooden Spars need Replacing
            </li>
			
			
            <li>
              Wing Bows Need Replacing
            </li>
            <li>
              	The fuselage is intact but is in need of a fair amount of work.
            </li>
	 
			
			
			
          </ul>
          <h3>
            <em>Currently it is in disrepair beyond recognition.</em> &mdash; This Airplane is a perfect candidate for restoration
          </h3>
          
                  <%= image_tag("DSCI0728med.jpg", :class=>"image-size-small rocket-icon" )%>
        </div>

        <div class="darker">
          <div class="benefits content">

            <div class="clear">
              <h2>
                Pieces of the puzzle
              </h2>
            </div>


            <div class="benefit">
               <%= image_tag("DSCI0710med.jpg", :class=>"image-size-icon icon" )%>
              <h4>
               Fuselage
              </h4>
            </div>
            <div class="benefit">
              <%= image_tag("DSCI0773med.jpg", :class=>"image-size-icon icon" )%>
              <h4>
               Fuel Tank
              </h4>
            </div>
            <div class="benefit">
               <%= image_tag("4_of_4.jpg", :class=>"image-size-icon icon" )%>
              <h4>
                Continental C85 Engine
              </h4>
            </div>
            <div class="benefit">
               <%= image_tag("DSCI0775med.jpg", :class=>"image-size-icon icon" )%>
              <h4>
                The Wing
              </h4>
            </div>

            <div  class="clear sub-description"  >

            </div>
          </div>
        </div>

        
        <div id="challenge"  class="content narrow"  style="padding-top: 40px; margin-top: -40px;">
          <h2>
            The Challenge
          </h2>
		<p>


			The plane has been disassembled and is in pieces. This presents the biggest challenge.
			The wing is waiting for four new spars as the current ones are beyond repair. Also the round ends on the wings are also beyond repair. New wing bows will be needed . The Engine was Pickled properly but it has not ran for 12 years. It will need to be serviced and check for it's condition. Due to the common use of the engine - it is getting harder to find parts for it
 </p><p>
			Thankfully the person that started the restoration years ago has done a great job of labeling everything.
		
        </p>
      </div>
    
		
          <div id="plan"  class="content narrow"  style="padding-top: 40px; margin-top: -40px;">
            <h2>
              The Plan
            </h2>
			<p>
			** This is only a overview. The Plane required very extensive & meticulous restoration and reassembly but as it looks now here is a overview plan - this list will grow as we get into the project.
		</p>
            <h3>
              The Wing
            </h3>
            <ul>
              <li>
				  
				   Replace the four Wooden Spars (around $750 each)
			  </li><li>
               Replace the four Wooden Spars (around $750 each)
              </li><li>
              Replace the wing bows  
              </li><li>
               Reassemble the wing
                </li><li>
              Cover with new fabric
           
			
	  </li>
  </ul>
            <h3>
				The Fuselage
            </h3>
            <ul>
              <li>
           
              Overhaul the cockpit interior
             </li><li>
              Replace the vinyl on the seats with new
             </li><li>
              Confirm condition of all piping & Structure ( Ensure no piping is rotting)
             </li><li>
             Replace the Lower lingers
              </li><li>
              Cover it with new fabric
              </li><li>
             Paint and add decals
            </li><li>
             Replace the tires
 	  </li>
   </ul>
			
            <h3>
              The Engine
            </h3>
   	   
     <ul>
		 <li>
            Send it out for recertification
			 
   	  </li>
	 <li>
         Secure spare parts
	  </li>
     </ul>
          </div>
        </div>

        <div class="darker">
          <div class="pullquote content">
          
     


		 <h3> The Passion </h3>
		  To inspire a new generation to fly .  Aviation is a love that most can trace back to their childhood.    
          
          
          </div>
        </div>

        <div id="author" class="content">
          <h2>About Chris:</h2>
          <div class="author-info">
                          <%= image_tag("chris_harvard_small_med.jpg", :class=>"author-img author-img-size" )%> 

           <span class="highlight">Chris Mailloux</span> is a Skilled Tradesman. He acquired his industrial electrician trade in 2005, specializing in Robot & Computer Programming. He has held positions first as a Manager of Ground Maintenance then as a General Manager of Ground Operations at a International Air-show located in Ontario Canada in 2011 & 2012. Out of his love of working with his hands and attention to detail, Chris has rebuild a number is engines, designed and built custom furniture and designed & built his own computer based Real Time Monitoring Hardware & software.  
           </div>
        </div>

      
    

  <div id="contact" style="padding-top: 50px; margin-top: -50px;">
  </div>
          <div class="contact content" >
            Want more information?  <span class="highlight">email Chris Mailloux</span> 
                         
                        
                        
 <div  class="bootstrap">
                         <%= simple_form_for @message, :html => { :class => 'form-horizontal  contact_text'} , :url => contact_path do |f| %>
                         <table class="table table-striped">

                           <tbody>
                                    <tr>             
                                   <th>
                                         <br>
                 
                                   <%= f.input :name, :label=>"Name:", :placeholder=>"Your Name", :input_html => { :class => "enroll_input span5" } %>
 
         
                                 <%= f.input :email,  :label=>"Email Address:",  :input_html => { :class => "enroll_input span4"}, :wrapper => :append do %>
                                   <%= f.input_field :email,   :placeholder=>"Your Email Address" %><span class="add-on"><i class="icon-envelope"></i></span>
 
   <% end %>

    

                                 <%= f.input :subject,  :label=>'Subject:' , :placeholder=>"Your Question in Short form", :input_html => { :class => "enroll_input span5" } %>
 
                                 <%= f.input :body, :label=>'Message:', :placeholder=>"Your Question", as: :text, :input_html => { :class => "input-xlarge span5", :rows => 10} %>

 
                          <br>
                          
                         
                         </tr>
                         
                         </table>
  
                         <div class="pull-center  ">
                                     <%= f.button :submit, 'Send Message', :class => 'btn btn-warning' %>
                 
        
                                                     </div>
 
                         <% end %>
                        </div>
                        
          </div>
        </div>
      </div>
</div>

 
 