<%# add navigation links to this file %>

  <li><%= link_to 'The Project', root_path + "#project" %></li>

	   <% if @site_setup.blog_active? %>
	       <li><%= link_to 'The Blog', posts_path %></li>
	   <% end %>


   
  <li><%= link_to 'The Plane', root_path + "#plane" %></li>
  
<li>   <%= link_to 'The Challenge', root_path + "#challenge" %></li>

<li><%= link_to 'The Plan', root_path + "#plans" %></li>

<li><%= link_to 'Contact',  new_user_registration_path %></li>
  
 

 
